<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056349093466-84gmgq7s9fsije0n6gp7880c9r6uajiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056349093466-84gmgq7s9fsije0n6gp7880c9r6uajiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDv7VUHZHUwokZOxr3d4hdc2TmJrv09vkk</string>
	<key>GCM_SENDER_ID</key>
	<string>1056349093466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wearetriple.TripleOnboarding</string>
	<key>PROJECT_ID</key>
	<string>tripleonboarding</string>
	<key>STORAGE_BUCKET</key>
	<string>tripleonboarding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056349093466:ios:bbe3c06ae19e2a8257e263</string>
	<key>DATABASE_URL</key>
	<string>https://tripleonboarding.firebaseio.com</string>
</dict>
</plist>